@model MSIT147thGraduationTopic.Models.ViewModels.BrandVM

@{
    Layout = "_BackstagePage";
    ViewData["Title"] = "新增品牌";
}

<div class="container">
    <h1 class="title">新增品牌</h1>

    <div class="bg-light rounded shadow p-5">
        <h4>輸入品牌資料</h4>
        <div style="float:right">
            <button id="demo_wrong" class="btn btn-outline-secondary mx-2">Demo 錯誤範例</button>
            <button id="demo_right" class="btn btn-outline-secondary">Demo 正確範例</button>
        </div>
        <hr />
        <div class="row">
            <div class="col-md-4">
                <form asp-action="Create" method="Post" name="forminput" id="forminput">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="form-group">
                        <label asp-for="BrandName" class="control-label"></label>
                        <input asp-for="BrandName" class="form-control" id="input" />
                        <span asp-validation-for="BrandName" class="text-danger" id="alertspan"></span>
                    </div>
                    <hr />
                    <div class="form-group">
                        <input type="submit" value="新增" class="btn btn-primary" id="submit" />
                        @Html.ActionLink("取消", "Index", "Brands", new { txtKeyword = ViewBag.txtKeyword,
                        PageIndex = ViewBag.PageIndex, displayorder = ViewBag.displayorder }, new { @class = "btn btn-secondary" })
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <!-- DEMO按鈕 -->
    <script>
        $("#demo_right").on("click", () => {
            $("#alertspan").text("");
            $("#input").val("HappyPuppy");

        })
        $("#demo_wrong").on("click", () => {
            $("#input").val("鼠來堡");
            $("#submit").click();
        })
    </script>
    <!-- 驗證輸入 -->
    <script>
        const alertspan = document.querySelector("#alertspan");

        const submit = document.querySelector("#submit");
        submit.addEventListener("click", (event) => {
            event.preventDefault();
            var formdata = new FormData(document.forminput);

            const xhr = new XMLHttpRequest();
            xhr.open("POST", "/ApiBrand/CheckBrandforCreate");
            xhr.send(formdata);

            xhr.addEventListener("load", () => {
                const data = JSON.parse(xhr.responseText);

                if (data) {
                    alertspan.innerHTML = "此品牌已存在，請重新命名";
                }
                else {
                    alertspan.innerHTML = "";
                    Swal.fire({
                        position: 'center',
                        icon: 'success',
                        title: '品牌新增成功！',
                        showConfirmButton: false,
                        timer: 800,
                        allowOutsideClick: false
                    }).then(() => {
                        const forminput = document.querySelector("#forminput");
                        HTMLFormElement.prototype.submit.call(forminput);
                        //$("#forminput").submit(); //https://trackjs.com/blog/when-form-submit-is-not-a-function/
                    })
                }
            })
        })

        const input = document.querySelector("#input");
        input.addEventListener("keyup", () => {
            var formdata = new FormData(document.forminput);

            const xhr = new XMLHttpRequest();
            xhr.open("POST", "/ApiBrand/CheckBrandforCreate");
            xhr.send(formdata);

            xhr.addEventListener("load", () => {
                const data = JSON.parse(xhr.responseText);
                console.log(xhr.responseText);
                console.log(data);
                if (data) {
                    alertspan.innerHTML = "此品牌已存在，請重新命名";
                }
                else {
                    alertspan.innerHTML = "";
                }
            })
        })
    </script>
}

@section Styles{
    <style>
        .title {
            margin-top: 30px;
            margin-bottom: 10px;
        }
    </style>
}