
@{    
    ViewData["Title"] = "忘記密碼";
}

<div class="text-center mb-4">
    <h1 class="fw-bold mt-4">忘記密碼</h1>
</div>
<div class="row" style="--bs-gutter-x:0;">
    <div class="col-lg-6 offset-3">
        <form id="AccountVerifyForm" class="needs-validation" method="Post"
              enctype="multipart/form-data" novalidate>
            <!-- Account input-->
            <div class="form mb-3">
                <label for="account" class="form-label fw-bold">帳號</label>
                <input class="form-control" id="account" name="Account" type="text" required />
                <div class="valid-feedback"></div>
                <div class="invalid-feedback"></div>
            </div>
            <!-- Email address input-->
            <div class="form mb-3">
                <label for="email" class="form-label fw-bold">Email</label>
                <input class="form-control" id="email" name="Email" type="email" required />
                <div class="valid-feedback"></div>
                <div class="invalid-feedback"></div>
            </div>
            <!-- Submit Button-->
            <div class="d-grid col-lg-6 offset-3 my-4">
                <button class="btn btn-primary btn-lg mb-3" id="btnSubmit" type="submit">
                    送出
                </button>
                <button type="button" id="demoMember" class="btn btn-outline-secondary btn-sm">demoMember</button>
            </div>
        </form>
        <div class="col-lg-6 offset-3 d-flex justify-content-center">
            <p class="fs-4">@ViewBag.ErrorMessage</p>
            <p class="fs-4">@ViewBag.SuccessMessage</p>
        </div>        
    </div>
</div>

@section Scripts{
    <script src="~/js/MyBootstrapValidator.js"></script>
    <script>
        $("#demoMember").click(() => {           
            $('#account').val('demoMember99');            
            $('#email').val('demoMember999@gmail.com');            
        })

        const myValid = new MyBootsrapValidator(document.querySelector('.needs-validation'))

        function ForgetPwdValidator() {
            myValid.endtValidate()
            myValid.validateFunction(() => {
                const account = document.querySelector('#account')
                const accountHasValue = !!account.value
                account.setValidate(() => accountHasValue, '請輸入帳號')

                const email = document.querySelector('#email')
                const emailHasValue = !!email.value
                const emailPatternValid = /^\w+@@\w+/.test(email.value)
                email.setValidate(() => emailHasValue, '請輸入Email').setValidate(() => emailPatternValid, 'Email格式錯誤')

                return accountHasValue && emailHasValue && emailPatternValid
            })            
            return myValid.startValidate()
        }       

        $('#btnSubmit').click(ForgetPwdValidator)
    </script>
}
