@using MSIT147thGraduationTopic.ViewComponents;
@{
    ViewData["Title"] = "會員中心";
}

<div class="text-center mb-4">
    <h1 class="fw-bold mt-4">會員中心</h1>
</div>
<div class="row" style="--bs-gutter-x:0;">
    <div class="col-lg-2 offset-1">
        @await Component.InvokeAsync(nameof(SidebarVC))
    </div>
    <div class="col-lg-5 offset-1">
        <form name="editForm" class="needs-validation" method="Post"
              enctype="multipart/form-data" novalidate>
            <!-- NickName input-->
            <div class="form mb-3">
                <label for="nickname" class="form-label fw-bold">暱稱</label>
                <input class="form-control" id="nickName" name="NickName" type="text" />
            </div>
            <!-- Password input-->
            <div class="form mb-3">                
                <input type="checkbox" class="btn-check passwordEditedChk" id="btn-check-outlined" autocomplete="off">
                <label class="btn btn-sm btn-outline-danger me-2" for="btn-check-outlined">修改密碼</label>
                <label for="password" class="form-label fw-bold">
                    密碼需要6~32位英文字母及數字組合，包含至少一個大寫字母及小寫字母
                </label>
                <input class="form-control" id="password" name="Password" type="password" readonly />
                <div class="valid-feedback"></div>
                <div class="invalid-feedback"></div>
            </div>
            <!-- Password confirm input-->
            <div class="form mb-3">
                <label for="confirmPassword" class="form-label fw-bold">確認密碼</label>
                <input class="form-control" id="confirmPassword" type="password" readonly />
                <div class="valid-feedback"></div>
                <div class="invalid-feedback"></div>
            </div>
            <!-- Email address input-->
            <div class="form mb-3">
                <label for="email" class="form-label fw-bold">Email</label>
                <input class="form-control" id="email" name="Email" type="email" required />
                <div class="valid-feedback"></div>
                <div class="invalid-feedback"></div>
            </div>
            <!-- Phone number input-->
            <div class="form mb-3">
                <label for="phone" class="form-label fw-bold">手機號碼</label>
                <input class="form-control" id="phone" name="Phone" type="tel" required />
                <div class="valid-feedback"></div>
                <div class="invalid-feedback"></div>

            </div>
            <!-- Address input-->
            <div class="form mb-3">
                <label for="name" class="form-label fw-bold">地址</label>
                <div class="input-group">
                    <label class="input-group-text" for="city">縣市</label>
                    <select class="form-select" id="city" name="City">
                    </select>
                    <label class="input-group-text" for="district">區域</label>
                    <select class="form-select" id="district" name="District">
                    </select>
                    <input class="form-control" id="address" name="Address" type="text" />
                </div>
            </div>
            <!-- Avatar input-->
            <div class="form mb-5">
                <label class="form-label fw-bold">頭像</label>
                <div class="input-group">
                    <input type="file" id="avatar" name="Avatar" class="form-control" />
                </div>
            </div>
            <!-- Submit Button-->
            <div class="d-grid col-lg-8 offset-2 my-3">
                <button class="btn btn-primary btn-lg mb-3" id="btnSubmit" type="submit">
                    儲存修改
                </button>

                @* <button type="button" id="demoMemberEdit">demoMember</button> *@
            </div>
        </form>
    </div>    
</div>

@section Styles{
    <style>
        #city {
            max-width: 200px
        }

        #district {
            max-width: 200px
        }
    </style>
}

@section Scripts{
    <script src="~/js/MyBootstrapValidator.js"></script>
    <script src="~/js/Member/memberCenter.js"></script>
}
