@{
    ViewData["Title"] = "變更帳號登入";
    Layout = "_BackstagePage";
}

<div class="container px-5">
    <div class="row">
        <div class="col-1 col-md-2 col-lg-3 col-xxl-4"> </div>
        <div class="col-10 col-md-8 col-lg-6 col-xxl-4 py-5">
            <form name="logForm">
                <div class="mb-3">
                    <label for="inputText" class="form-label">帳號</label>
                    <input type="text" class="form-control" id="inputAccount" name="account">
                </div>
                <div class="mb-3">
                    <label for="inputPassword" class="form-label">密碼</label>
                    <input type="password" class="form-control" id="inputPassword" name="password">
                </div>
                <button type="button" class="btn btn-primary mt-3" id="btnChangeAccount">變更帳號並登入</button>
            </form>


            <div class="mt-auto">
                <div class="my-4">
                    <button type="button" class="btn btn-outline-secondary btn-sm mb-2" id="demo1">demo demoAdmin99</button>
                    <button type="button" class="btn btn-outline-secondary btn-sm mb-2" id="demo2">demo demoManager99</button>
                    <button type="button" class="btn btn-outline-secondary btn-sm mb-2" id="demo3">demo demoEmployee99</button>
                </div>
            </div>
        </div>
        <div class="col-1 col-md-2 col-lg-3 col-xxl-4"> </div>
    </div>

</div>




@section Scripts{
    <script>

        //demo
        $('#demo1').click(() => demoInput('demoAdmin99'))
        $('#demo2').click(() => demoInput('demoManager99'))
        $('#demo3').click(() => demoInput('demoEmployee99'))

        function demoInput(account) {
            $('#inputAccount').val(account)
            $('#inputPassword').val(account)
        }


        //切換帳號
        $('#btnChangeAccount').click(changeAccount)

        async function changeAccount() {
            const formData = new FormData(document.logForm)

            showLoadingBox()
            const response = await fetch(`@Url.Content("~/api/apiemployee/login")`, {
                body: formData,
                method: 'POST'
            })

            if (response.ok) {
                const loginSucceed = await response.json()
                hideLoadingBox()
                if (loginSucceed) {
                    await Swal.fire(
                        '成功登入!',
                        '登入後台管理系統',
                        'success'
                    )
                    window.location.href = '@Url.Content("~/employeebackstage/welcome")'
                }
                else {
                    await Swal.fire(
                        '登入失敗!',
                        '帳號密碼輸入錯誤',
                        'error'
                    )
                }
            }
        }



    </script>
}

@section Styles{
    <style>

    </style>
}


