
@model int?

<section>
    <h3><strong>熱門商品</strong></h3>
    <div class="partial-dividing-line bg-dark"></div>


    <div class="row row-cols-2 row-cols-lg-4 row-cols-xxl-8 px-2 mt-3 mb-5" data-merchandiseId="@Model" id="popularSpecContainer">
        

    </div>
</section>