@model IEnumerable<MSIT147thGraduationTopic.Models.ViewModels.MemberVM>

@{
    Layout = "_BackstagePage";
    ViewData["Title"] = "會員管理系統";
}

<header class="container px-5 mt-5">

    <nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item">會員管理</li>
            <li class="breadcrumb-item active" aria-current="page">會員檢視</li>
        </ol>
    </nav>
</header>

<div class="container px-5">
    <div class="row gx-5">
        <div class="col-xl-9 col-lg-6">
            <div class="contentbox bg-light rounded shadow p-4 mb-5">
                <div class="p-4">
                    <h2>會員檢視</h2>
                    <div class="d-flex" style="display:inline">
                        @* <input type="text" id="query" name="query">
                        <button type="button" id="btnQuery">
                            <i class="fa-solid fa-magnifying-glass"></i>
                        </button> *@                        
                    </div>

                </div>
                <form id="memberPermission">
                    <div class="tablebox">
                        <table class="table table-light table-striped table-hover px-2" id="myTable">
                            <thead>
                                <tr>
                                    <th>姓名</th>
                                    <th>帳號名稱</th>
                                    <th>權限</th>
                                    <th style="width:5rem" class="text-center">會員停權</th>
                                </tr>
                            </thead>
                            <tbody>
                            </tbody>
                        </table>
                    </div>
                </form>
            </div>
        </div>
        <div class="col-xl-3 col-lg-6">
            <div class="bg-light rounded shadow p-4 mb-5" id="data">
                <table class="table">
                    <thead>
                    </thead>
                    <tbody>
                        <tr>
                            <td class="text-nowrap">姓名</td>
                            <td id="displayName"></td>
                        </tr>
                        <tr>
                            <td class="text-nowrap">帳號</td>
                            <td id="displayAccount"></td>
                        </tr>
                        <tr>
                            <td class="text-nowrap">性別</td>
                            <td id="displayGender"></td>
                        </tr>
                        <tr>
                            <td class="text-nowrap">縣市</td>
                            <td id="displayCity"></td>
                        </tr>
                        <tr>
                            <td class="text-nowrap">區域</td>
                            <td id="displayDistrict"></td>
                        </tr>
                        <tr>
                            <td class="text-nowrap">地址</td>
                            <td id="displayAddress"></td>
                        </tr>
                        <tr>
                            <td class="text-nowrap">電話</td>
                            <td id="displayPhone"></td>
                        </tr>
                        <tr>
                            <td class="text-nowrap">Email</td>
                            <td id="displayEmail"></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <!-- 分頁 -->
        @* <nav aria-label="Page navigation">
        <ul class="pagination justify-content-center">
        <li class="page-item">
        <a class="page-link" href="#" aria-label="Previous"><span aria-hidden="true">&laquo;</span></a>
        </li>
        <div class="pagination ">
        @for (int i = 1; i <= ViewBag.TotalCount / ViewBag.PageSize + 1; i++)
        {
        <li class="page-item"><a class="page-link" href="@Url.Action("MemberList", new { pageIndex = i })">@i</a></li>
        }
        </div>
        <li class="page-item">
        <a class="page-link" href="#" aria-label="Next"><span aria-hidden="true">&raquo;</span></a>
        </li>
        </ul>
        </nav> *@
    </div>
</div>

@section Scripts{
    <!-- DataTables BS5版本-->
    <script src="https://cdn.datatables.net/v/bs5/dt-1.13.6/datatables.min.js"></script>
    <script>
        //會員資料
        let memberData
        //抓取會員資料
        getMembers();
        //搜尋按鈕
        //$('#btnQuery').click(e => getMembers($('#query').val()))
        //修改權限按鈕
        $('#btnChangePermission').click(memberDeactivate)

        //Ajax 得到會員資料
        async function getMembers(query) {
            let str = ''
            if (query) str = '/' + query
            const response = await fetch('@Url.Content("~/api/apimember")' + str)

            if (!response.ok) return
            const data = await response.json()

            memberData = data
            displayMembers()
        }

        //會員停權
        async function memberDeactivate(event) {
            if (!await validateRole('管理員')) {
                await Swal.fire(
                    '權限不足!',
                    'error'
                )
                return;
            }

            const formData = new FormData(document.memberPermission)
            const index = event.currentTarget.closest('tr').dataset.index
            const id = memberData[index].memberId

            const { value: isConfirmed } = await Swal.fire({
                title: '確定停權該會員?',
                showCancelButton: true,
                icon: 'warning',
                confirmButtonColor: '#d33',
                confirmButtonText: '確定',
                cancelButtonText: '取消',
                allowOutsideClick: false,
            })

            console.log(isConfirmed)
            if (!isConfirmed) return;

            const response = await fetch(`@Url.Content("~/api/apimember")/${id}`, {
                body: formData,
                method: 'PUT',
            })

            if (!response.ok) {
                console.log("輸入格式錯誤")
                return
            }

            await Swal.fire(
                '修改成功!',
                '會員已停權!',
                'success'
            )
            window.location.reload();

        }

        //列出會員
        function displayMembers() {
            const trs = memberData.map((element, index) => {
                const isActivated = element.isActivated ? "已啟用" : "未啟用"
                const disabled = element.isActivated ? "" : "disabled";

                return `<tr data-index="${index}">
                            <td>${element.memberName}</td>
                            <td>${element.account}</td>
                            <td>${isActivated}</td>
                            <td class="text-center">
                            <button type="button" class="btn btn-danger permission-btn ${disabled}"><i class="fa-solid fa-pen-nib"></i></button>
                            </td>
                        </tr>`
            })

            $('.tablebox').find('tbody').html(trs.join(''))
            $('.tablebox').find('.permission-btn').click(memberDeactivate)
            $('.tablebox').find('tbody').find('tr').click(displayMemberDataInRow)
            //displayMemberData(0)
            loadDataTable()
        }

        //顯示點選tr的會員資料
        function displayMemberDataInRow(event) {
            const index = +event.currentTarget.dataset.index
            displayMemberData(index)
        }

        //顯示第n筆會員資料
        function displayMemberData(index) {
            if (!memberData.length) return

            $('#displayName').text(memberData[index].memberName)
            $('#displayGender').text(memberData[index].gender)
            $('#displayAccount').text(memberData[index].account)
            $('#displayPhone').text(memberData[index].phone)
            $('#displayEmail').text(memberData[index].email)
            $('#displayCity').text(memberData[index].city)
            $('#displayDistrict').text(memberData[index].district)
            $('#displayAddress').text(memberData[index].address)
        }

        //datatable套件
        function loadDataTable() {
            $('#myTable').DataTable({                
                language: {
                    url: '//cdn.datatables.net/plug-ins/1.13.6/i18n/zh-HANT.json',
                },
            });
        }
    </script>
}

@section Styles{
    <!--DataTables CSS BS5版本-->
    <link href="https://cdn.datatables.net/v/bs5/dt-1.13.6/datatables.min.css" rel="stylesheet">
    <style>
        .tablebox td, th {
            vertical-align: middle;
        }
    </style>
}