:root {
    --bs-body-bg-rgb: 255, 245, 235;
}

.custom-carousel .carousel-control-prev,
.carousel-control-next {
    width: 8%;
}

.custom-home-carousel {
    height: 550px;
}


#backToTop {
    position: fixed;
    right: 50px;
    bottom: 80px;
    width: 80px;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 900;
}

#cartCount {
    height: 20px;
    width: 20px;
    left: -20px;
    top: -15px;
    text-align: center;
    font-size: 5px;
    background-color: red;
    color: azure;
    border-radius: 50%
}

    #cartCount div {
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
    }

img#navbarAvatar {
    height: 50px;
    width: 50px;
    object-fit: cover;
}

/*讀取動畫*/
.loading-box {
    z-index: 999;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    display: none;
}

.dropdown:hover > .dropdown-menu {
    display: block;
    margin-top: 0.125em;
    margin-left: 0.125em;
}

.dropdown-item:hover {
    background-color: black;
    color: #fff;
}
