@{
    Layout = "_BackstagePage";
    ViewData["Title"] = "優惠券管理系統";

}
<header class="container px-5 mt-5">
    <nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <a id="hrefHomePage">優惠券管理系統</a>
            </li>
            <li class="breadcrumb-item active" aria-current="page">新增折價優惠券</li>
        </ol>
    </nav>
</header>
<body class="d-flex flex-column h-100">
    <main class="flex-shrink-0">
        <!-- Page Content-->
        <section class="py-5">
            <div class="container px-5 my-5">
                <div class="text-center mb-5">
                    <h1 class="fw-bolder">新增折價優惠券</h1>
                    <p class="lead fw-normal text-muted mb-0"></p>
                </div>
                <div class="container px-5 my-5">
                    <div>
                        <form id="create" name="create" method="post" enctype="multipart/form-data" data-index="-1" class="need-validation row justify-content-center" novalidate>
                            <div class="col-8 mb-3">
                                優惠券名稱<input id="couponName" name="CouponName" type="text" class="form-control" placeholder="請輸入優惠券名稱" required>
                            </div>
                            <div class="col-8 mb-3">
                                適用對象<select id="couponTag" name="CouponTagId" class="form-select form-control">
                                    <option value="0">全部</option>
                                    <option value="1">貓</option>
                                    <option value="2">狗</option>
                                    <option value="3">鼠</option>
                                    <option value="4">兔</option>
                                </select>
                            </div>
                            <br>
                            <div class="col-8 mb-3">
                                開始日期<input id="startDate" name="CouponStartDate" type="date" class="form-control" placeholder="請輸入使用期限" required>
                            </div>
                            <div class="col-8 mb-3">
                                結束日期<input id="endDate" name="CouponEndDate" type="date" class="form-control" placeholder="請輸入使用期限" required>
                            </div>
                            <div class="col-8 mb-3">
                                <input id="discountType" name="CouponDiscountTypeId" type="hidden" class="form-control" placeholder="打折券" value="0" readonly />
                            </div>
                            <div class="col-8 mb-3" id="rebateSection">
                                折扣<input id="discount" name="CouponDiscount" type="number" class="form-control" placeholder="請輸入折扣" required>
                            </div>
                        </form>
                    </div>
                    <div class="row justify-content-center px-5 my-5">
                        <div class="col-auto">
                            <button type="button" class="btn btn-primary" id="btnCreate">新增</button>
                            <button type="button" class="btn btn-primary" id="btnBack">返回</button>

                        </div>
                    </div>
                    <div class="my-3">
                        <button class="btn btn-outline-secondary" id="demoAnswer">demoAnswer</button>
                    </div>
                    <div class="my-3">
                        <button class="btn btn-outline-secondary" id="demoName">demoName</button>
                    </div>
                    <div class="my-3">
                        <button class="btn btn-outline-secondary" id="demoDate">demoDate</button>
                    </div>
                    <div class="my-3">
                        <button class="btn btn-outline-secondary" id="demoDiscountNon">demoDiscountNon</button>
                    </div>
                    <div class="my-3">
                        <button class="btn btn-outline-secondary" id="demoDiscountOver">demoDiscountOver</button>
                    </div>
                </div>
            </div>
        </section>
    </main>
    <!-- Footer-->
    
</body>

@section Styles{
    <style>

    </style>
}

@section Scripts{
    <script src="~/js/MyBootstrapValidator.js"></script>
    <script>
        const startDateInput = $('input[name="CouponStartDate"]');
        const endDateInput = $('input[name="CouponEndDate"]');

        $('#btnBack').on('click', function () {
            Swal.fire({
                title: '確定要返回主頁面?',
                showDenyButton: true,
                confirmButtonText: '取消',
                denyButtonText: `返回主頁面`,
                allowOutsideClick: false,
            }).then((result) => {
                /* Read more about isConfirmed, isDenied below */
                if (result.isDenied) {
                    location.href = `@Url.Content("~/CouponsBackstageSettings/Index")`;
                }
            })
        })

        $('#hrefHomePage').on('click', function () {
            Swal.fire({
                title: '確定要返回主頁面?',
                showDenyButton: true,
                confirmButtonText: '取消',
                denyButtonText: `返回主頁面`,
            }).then((result) => {
                /* Read more about isConfirmed, isDenied below */
                if (result.isDenied) {
                    location.href = `@Url.Content("~/CouponsBackstageSettings/Index")`;
                }
            })
        })

        $('#btnCreate').on('click', function () {
            const formData = $("#create").serializeArray();
            const startDate = new Date(startDateInput.val());
            const endDate = new Date(endDateInput.val());
            const discountInput = $('input[name="CouponDiscount"]');
            const discountValue = parseFloat(discountInput.val());

            //datas = $("form").serializeArray()

            //驗證
            if (startDate > endDate) {
                Swal.fire({
                    icon: 'error',
                    title: '失敗',
                    text: '請檢查日期格式是否正確',
                });
                return;
            }

            if (!discountValue) {
                Swal.fire({
                    icon: 'error',
                    title: '失敗',
                    text: '折扣為必填欄位',
                });
                return;
            }

            if (discountValue < 0 || discountValue > 100) {
                Swal.fire({
                    icon: 'error',
                    title: '失敗',
                    text: '折扣必須介於1到99',
                });
                return;
            }

            $.ajax({
                method: "POST",
                url: "@Url.Content("~/api/ApiCoupon")",
                data: formData,
                async: true,
            }).done(function (Data) {
                Swal.fire({
                    icon: 'success',
                    title: '成功',
                    text: '優惠券新增成功',
                });
                document.getElementById("create").reset();
            }).fail(function (xhr, textStatus, errorThrown) {
                Swal.fire({
                    icon: 'error',
                    title: '失敗',
                    text: '優惠券新增失敗，請檢查資料及格式是否正確',
                });
            });

            $('#create').trigger("reset");
        })

        //demoAnswer
        $('#demoAnswer').click(e => {
            $('#couponName').val('夏日清涼一夏感謝祭77好禮');
            $('#startDate').val('2023-08-25');
            $('#endDate').val('2023-08-30');
            $('#discount').val('77');
        })

        //demoName
        $('#demoName').click(e => {
            $('#couponName').val('');
            $('#startDate').val('2023-08-25');
            $('#endDate').val('2023-08-30');
            $('#discount').val('77');
        })

        //demoDate
        $('#demoDate').click(e => {
            $('#couponName').val('夏日清涼一夏感謝祭77好禮');
            $('#startDate').val('2023-09-30');
            $('#endDate').val('2023-08-30');
            $('#discount').val('77');
        })

        //demoDiscount
        $('#demoDiscountNon').click(e => {
            $('#couponName').val('夏日清涼一夏感謝祭77好禮');
            $('#startDate').val('2023-08-25');
            $('#endDate').val('2023-08-30');
            $('#discount').val('');
        })

        //demoDiscountOver
        $('#demoDiscountOver').click(e => {
            $('#couponName').val('夏日清涼一夏感謝祭77好禮');
            $('#startDate').val('2023-08-25');
            $('#endDate').val('2023-08-30');
            $('#discount').val('1999');
        })
    </script>
}
